In [1]:
# Assign a list containing players' ages.
age_list = [34, 25, 23, 19, 29]

In [3]:
# Find the maximum age and assign to `max_age` variable.
max_age = max(age_list)
max_age

34

In [4]:
# Convert `max_age` to a string.
max_age = str(max_age)
max_age

'34'

In [5]:
# Reassign the value of `max_age`.
max_age = 'ninety-nine'
max_age

'ninety-nine'

In [6]:
# FIRST, RE-RUN THE SECOND CELL IN THIS VIDEO.
# Check the value contained in `max_age` (SHOULD OUTPUT 34).
max_age

'ninety-nine'

In [7]:
# Find the minimum age and assign to `min_age` variable.
min_age = min(age_list)

# Subtract `min_age` from `max_age`
max_age - min_age

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [8]:
# Trying to assign a value to a reserved keyword will return a syntax error.
else = 'everyone loves some esparagus'

SyntaxError: invalid syntax (3976348455.py, line 2)

In [9]:
# The word "asparagus" is misspelled. That's allowed.
esparagus = 'everyone loves some esparagus'

In [10]:
# Order of operations
2 * (3 + 4)

14

In [11]:
# Order of operations
(2 * 3) + 4

10

In [12]:
# Order of operations
3 + 4 * 10

43

In [13]:
# Addition of 2 ints
print(7+8)

15

In [14]:
# Addition of 2 strings
print("hello " + "world")

hello world

In [15]:
# You cannot add a string to an integer.
print(7+"8")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# The type() function checks the data type of an object.
type("A")

str

In [17]:
# The type() function checks the data type of an object.
type(2)

int

In [18]:
# The type() function checks the data type of an object.
type(2.5)

float

In [19]:
# Implicit conversion
print(1 + 2.5)

3.5

In [20]:
# Explicit conversion (The str() function converts a number to a string.)
print("2 + 2 = " + str(2 + 2))

2 + 2 = 4