In [1]:
# Adding strings will combine them.
'Hello' + 'world'

'Helloworld'

In [2]:
# Blank space ("whitespace") is its own character.
'Hello ' + 'world'

'Hello world'

In [3]:
# Including a whitespace when combining strings
'Hello' + ' ' + 'world'

'Hello world'

In [4]:
# Variables containing strings can be added.
greeting_1 = 'Hello '
greeting_2 = 'world'
greeting_1 + greeting_2

'Hello world'

In [5]:
# Strings can be multiplied by integers.
danger = 'Danger! '
danger * 3

'Danger! Danger! Danger! '

In [6]:
# Strings cannot be used with subtraction or division.
danger - 2

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [7]:
# Alternate single and double quotes to include one or the other in your string.
quote = '"Thank you for pressing the self-destruct button."'
print(quote)

"Thank you for pressing the self-destruct button."

In [8]:
# \n creates a newline.
greeting = "Good day,\nsir."
print(greeting)

Good day,
sir.

In [9]:
# Using escape character (\) lets you express the newline symbol within a string.
newline = "\\n represents a newline in Python."
print(newline)

\n represents a newline in Python.

In [10]:
# You can loop over strings.
python = 'Python'
for letter in python:
    print(letter + 'ut')

Put
yut
tut
hut
out
nut

In [11]:
# The index() method returns index of character's first occurrence in string.
pets = 'cats and dogs'
pets.index('s')

3

In [12]:
# The index() method will throw an error if character is not in string.
pets.index('z')

ValueError: substring not found

In [13]:
# Access the character at a given index of a string.
name = 'Jolene'
name[0]

'J'

In [14]:
# Access the character at a given index of a string.
name[5]

'e'

In [15]:
# Negative indexing begins at the end of the string.
sentence = 'A man, a plan, a canal, Panama!'
sentence[-1]

'!'

In [16]:
# Negative indexing begins at the end of the string.
sentence[-2]

'a'

In [17]:
# Omitting the first value of the slice implies a value of 0.
fruit = 'pineapple'
fruit[:4]

'pine'

In [18]:
# Use format() method to insert values into your string, indicated by braces.
name = 'Manuel'
number = 3
print('Hello {}, your lucky number is {}.'.format(name, number))

Hello Manuel, your lucky number is 3.

In [19]:
# You can assign names to designate how you want values to be inserted.
name = 'Manuel'
number = 3
print('Hello {name}, your lucky number is {num}.'.format(num=number, name=name))

Hello Manuel, your lucky number is 3.

In [20]:
# You can use argument indices to designate how you want values to be inserted.
print('Hello {1}, your lucky number is {0}.'.format(number, name))

Hello Manuel, your lucky number is 3.

In [21]:
# Example inserting prices into string
price = 7.75
with_tax = price * 1.07
print('Base price: ${} USD. \nWith tax: ${} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.2925 USD.

In [22]:
# Use :.2f to round a float value to two places beyond the decimal.
print('Base price: ${:.2f} USD. \nWith tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.29 USD.

In [23]:
# Define a function that converts Fahrenheit to Celsius.
def to_celsius(x):
    return (x-32) * 5/9

# Create a temperature conversion table using string formatting
for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C