In [1]:
# Assign a string to a variable and check its type.
magic = 'HOCUS POCUS'
print(type(magic))

<class 'str'>

In [2]:
# Use the swapcase() string method to convert from caps to lowercase.
magic = 'HOCUS POCUS'
magic = magic.swapcase()
magic

'hocus pocus'

In [3]:
# Use the replace() string method to replace some letters with other letters.
magic = magic.replace('cus', 'key')
magic

'hokey pokey'

In [4]:
# Use the split() string method to split the string into two strings.
magic = magic.split()
magic

['hokey', 'pokey']

In [5]:
# Set up the cell to create the `planets` dataframe.
# (This cell was not shown in the instructional video.)
import pandas as pd
data = [['Mercury', 2440, 0], ['Venus', 6052, 0,], ['Earth', 6371, 1],
        ['Mars', 3390, 2], ['Jupiter', 69911, 80], ['Saturn', 58232, 83],
        ['Uranus', 25362, 27], ['Neptune', 24622, 14]
]

cols = ['Planet', 'radius_km', 'moons']

planets = pd.DataFrame(data, columns=cols)

In [6]:
# Display the `planets` dataframe.
planets

    Planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83
6   Uranus      25362     27
7  Neptune      24622     14

In [7]:
# Use the shape dataframe attribute to check the number of rows and columns.
planets.shape

(8, 3)

In [8]:
# Use the columns dataframe attribute to check column names.
planets.columns

Index(['Planet', 'radius_km', 'moons'], dtype='object')